@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --light-color: #FFF;
    --card-color: #FFF;

    --primary-color: #ff0017;/*#4e2a97;*/
    --primary-color-light: #e3546a;/*#5930ac;*/


    --fav-primary-color: #4e2a97;
    --fav-primary-color-light: #f04003;


    --toggle-color: #DDD;
    --text-color: #707070;

    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;

    --dark-one: #333;
    --dark-two: #7a7a7a;

    --main-color: #256590;
    --main-color-darker: #254590;


    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

/* Genral Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 50rem;
    width: 100%;
}

p {
    font-family: "Poppins", sans-serif;
    margin: 0.5rem;
}

body {
    background-color: var(--light-one);
}

.main-color-background {
    background-color: var(--main-color);
}

.light-color-background {
    background-color: var(--light-one);
}

.header-content {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--primary-color-light)
}

nav {
    display: flex;
    max-width: 80rem;
}

nav .image-text {
    color: var(--primary-color-light);
    display: flex;

    flex-direction: row;
    justify-items: left;

    align-items: center;
}

nav .image-text .name {
    color: var(--primary-color);
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

nav .image-text .profession{
    color: var(--primary-color);
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
nav .image-text .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .image-text .image img{
    width: 40px;
    border-radius: 6px;
    margin: 10px;
}

nav .menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-flow: wrap;
    justify-self: right;
    color: var(--dark-two);
}

nav .menu-links li {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--primary-color);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

nav .menu-links li .navbtn {
    display: flex;
    color: var(--dark-two);
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 3rem;
}

nav .menu-links li a {
    color: var(--primary-color);
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 40px;
    border-radius: 6px;
    margin: 10px;
}

.section {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center;
    max-width: 80rem;
}

.column-1 {
    display: grid;
    justify-content: center;
    margin: 1.5rem;
}


.column-2 {
    display: grid;
    justify-content: center;
    margin-left: 1.5rem;
}

.grid-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-flow: wrap;
}

.text {
    font-family: "Poppins", sans-serif;
    color: var(--dark-two);
    justify-self: center;
}

.title-m {
    font-family: "Poppins", sans-serif;
    color: var(--dark-one);
    font-size: 2rem;
    font-weight: bold;
    justify-self: center;
    justify-content: center;
}

.title-hd {
    font-family: "Poppins", sans-serif;
    color: var(--dark-one);
    font-size: 1.75rem;
    font-weight: bold;
    justify-self: center;
    justify-content: center;
    border-bottom:1px solid white;
    bottom:-1px
}

.title-sm {
    font-family: "Poppins", sans-serif;
    color: var(--dark-one);
    font-size: 1.75rem;
    font-weight: bold;
    justify-self: center;
    justify-content: center;
}

.title-ssm {
    font-family: "Poppins", sans-serif;
    color: var(--dark-one);
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: center;
    justify-content: center;
}

.title-sssm {
    font-family: "Poppins", sans-serif;
    color: var(--dark-one);
    font-size: 1.25rem;
    font-weight: bold;
    justify-self: center;
    justify-content: center;
}

.purchase-btn {
    background-color: var(--main-color-darker);
    border-radius: 15px;
    border: 2px solid var(--main-color);
    transition: all 250ms;
    color: white;
    font-size: 12pt;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 15px var(--main-color);

    justify-self: center;

    padding: 1rem;
}

footer {
    display: grid;
    max-width: 100%;
    width: 100%;
    position: relative;
    height: 12rem;
    background: var(--primary-color);
}

footer p {
    color: var(--primary-color-light);
    align-items: center;
    justify-content: center;
}

footer .rows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
    padding: 10px;
}

footer .rows div {
    display: grid;
    GAP: 0.625rem;
}

footer .rows div a {
    color: var(--primary-color-light);
}

footer .copyright {
    display: flex;
    color: var(--dark-two);
    padding: 10px;
    align-items: center;
    justify-content: center;
}

footer .copyright p {
    color: var(--dark-two);
}

footer .powered {
    display: flex;
    color: var(--dark-two);
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-color: var(--primary-color-light);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 3rem;
}

footer .dmca {
    display: flex;
    color: var(--dark-two);
    padding: 10px;
    align-items: center;
    justify-content: center;
}

footer .dmca a {
    max-width: 5rem;
    max-height: 4rem;
}

.sub-domain {
    display: flex;
    align-items: center;
    max-width: 50rem;
}

.sub-domain .icon {
    align-self: center;
}

.sub-domain .icon .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-domain .icon .image img{
    width: 75px;
    border-radius: 6px;
    margin: 10px;
    padding: 0.25rem;
}


.sub-domain .info .pricetags {
    display: flex;
}

.sub-domain .info .pricetags .price {
    display: grid;
    color: var(--dark-two);
    padding: 1rem;
    margin: 0.75rem;
    align-items: center;
    justify-content: center;
    border-color: var(--primary-color-light);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 2.5rem;
    width: 10rem;
    height: 14rem;
}

.sub-domain .info .pricetags .price .price-amount {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-domain .info .pricetags .price .price-amount h4{
    text-decoration: underline 2px;
    text-decoration-color: var(--primary-color-light);
    text-decoration-thickness: 0.125rem;
}

.sub-domain .info .pricetags .price .price-info .text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
}

#Pricings {
    display: flex;
    align-items: right;
    justify-content: right;
}

#Pricings2  {
    display: grid;
    padding-bottom: 4.125rem;
}

.prices-domain {
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.slide-container {
    width: 920px;
    height: 521px;
    position: relative;
    margin: 20px;
}


.slide-container .slide-image {
    height: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}

.slide-container .slide-before {
    width: 30%;
    z-index: 2;
}

.slide-container .slide-after {
    width: 100%;
    z-index: 1;
}
/*
input.slider {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    position: absolute;
    margin: 0px;
    z-index: 3;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    z-index: 4;
}

input.slider::-moz-range-thumb {
    width: 6px;
    height: 600px;
    background-color: white;
    cursor: pointer;
}

input.slider::-webkit-slider-thumb {
    width: 6px;
    height: 530px;
    background-color: white;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
*/
